.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./assets/images/p5.png") ;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-top: 0vh; */
    padding-bottom: 30vh;
  }
  
  .techSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
    max-width: 110vh;
    width: 100%;
  }
  
  .skillCard {
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(101, 99, 99, 0.95);
    width: 25vh;
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #000000e6;
  }
  .skillCard:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 8px 16px rgba(172, 161, 161, 0.632);
    color: #ffffff;
  }
  
  .skillImg {
    width: 10vh;
    height: auto;
    object-fit: contain;
    margin-bottom: 1vh;
  }
  
  .skillName {
    font-size: 2vh;
  }
  
  @media screen and (max-width: 700px) {
    .skillCard {
      width: 8vh;
    }
  
    .skillImg {
      width: 5vh; /* Adjust the image size for smaller screens */
    }
  
    .skillName {
      font-size: 1.2vh; /* Adjust the font size for smaller screens */
    }
  }

  body {
    background-color: black;
  }